***REMOVED***% block content %***REMOVED******REMOVED***% endblock %***REMOVED***
<p>***REMOVED******REMOVED*** __('Sincerly,') ***REMOVED******REMOVED***</p>
<p>***REMOVED******REMOVED*** __('Your CEVI Web Team') ***REMOVED******REMOVED***</p>
<p>***REMOVED******REMOVED*** __('Contact us for any further information') ***REMOVED******REMOVED*** <a href="mailto:info@cevi-web.com">info@cevi-web.com</a></p>
<div style="display: inline-block;">
    ***REMOVED******REMOVED*** source("logo_email.svg") ***REMOVED******REMOVED***
    CEVI Web
</div>
