{% block content %}{% endblock %}
<p>{{ __('Sincerly,') }}</p>
<p>{{ __('Your CEVI Web Team') }}</p>
<p>{{ __('Contact us for any further information') }} <a href="mailto:info@cevi-web.com">info@cevi-web.com</a></p>
<div style="display: inline-block;">
    {{ source("logo_email.svg") }}
    CEVI Web
</div>
