***REMOVED***% extends "email_layout.twig" %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <h3>***REMOVED******REMOVED*** __('Hello') ***REMOVED******REMOVED*** ***REMOVED******REMOVED*** username ***REMOVED******REMOVED***</h3>
    <p>***REMOVED******REMOVED*** __('You have recently created a CEVI Web account') ***REMOVED******REMOVED***</p>
***REMOVED***% endblock %***REMOVED***