***REMOVED***% extends "email_layout.twig" %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <h3>***REMOVED******REMOVED*** __('Hello') ***REMOVED******REMOVED*** ***REMOVED******REMOVED*** firstName ***REMOVED******REMOVED***</h3>
    <p>***REMOVED******REMOVED*** __('Welcome to CEVI Web. We are happy that you are using our Platform. You have recently created a CEVI Web account.') ***REMOVED******REMOVED***</p>
    <p>***REMOVED******REMOVED*** __('Please confirm your registration:') ***REMOVED******REMOVED***</p>
    <a href="***REMOVED******REMOVED*** url ***REMOVED******REMOVED***">***REMOVED******REMOVED*** __('here') ***REMOVED******REMOVED***</a>
    <p>***REMOVED******REMOVED*** __('The registration is confirmed for following email:') ***REMOVED******REMOVED***</p>
    ***REMOVED******REMOVED*** email ***REMOVED******REMOVED***
    <p>***REMOVED******REMOVED*** __('For security reasons, Your position will be confirmed by your department head.') ***REMOVED******REMOVED***</p>
***REMOVED***% endblock %***REMOVED***