***REMOVED***% extends "layout.twig" %***REMOVED***

***REMOVED***# Assets #***REMOVED***
***REMOVED***% block assets %***REMOVED***
    ***REMOVED******REMOVED*** assets(***REMOVED***files: ['Home/style.css']***REMOVED***) ***REMOVED******REMOVED***
***REMOVED***% endblock %***REMOVED***

***REMOVED***# Content #***REMOVED***
***REMOVED***% block content %***REMOVED***
    <h1>***REMOVED******REMOVED*** __('Hello') ***REMOVED******REMOVED*** ***REMOVED******REMOVED*** username ***REMOVED******REMOVED***</h1>
***REMOVED***% endblock %***REMOVED***