***REMOVED***% extends "layout.twig" %***REMOVED***

***REMOVED***# Assets #***REMOVED***
***REMOVED***% block assets %***REMOVED***
    ***REMOVED******REMOVED*** assets(***REMOVED***files: ['Home/style.css']***REMOVED***) ***REMOVED******REMOVED***
***REMOVED***% endblock %***REMOVED***

***REMOVED***# Content #***REMOVED***
***REMOVED***% block content %***REMOVED***
    <h1>***REMOVED******REMOVED*** __('Hello') ***REMOVED******REMOVED*** ***REMOVED******REMOVED*** username ***REMOVED******REMOVED***</h1>
    ***REMOVED***% for user in users %***REMOVED***
        <hr>
        <p>***REMOVED******REMOVED*** __('Username') ***REMOVED******REMOVED***: ***REMOVED******REMOVED*** user.username ***REMOVED******REMOVED***</p>
        <p>***REMOVED******REMOVED*** __('Firstname') ***REMOVED******REMOVED***: ***REMOVED******REMOVED*** user.first_name ***REMOVED******REMOVED***</p>
        <p>***REMOVED******REMOVED*** __('Lastname') ***REMOVED******REMOVED***: ***REMOVED******REMOVED*** user.last_name ***REMOVED******REMOVED***</p>
    ***REMOVED***% endfor %***REMOVED***
***REMOVED***% endblock %***REMOVED***