RewriteEngine on

# RewriteBase /
# Allow directories (in public folder)
# RewriteCond %***REMOVED***REQUEST_FILENAME***REMOVED*** !-d
# Allow files (in public folder)
RewriteCond %***REMOVED***REQUEST_FILENAME***REMOVED*** !-f
RewriteRule ^ index.php [QSA,L]