RewriteEngine on

RewriteCond %{HTTPS} !on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# RewriteBase /
# Allow directories (in public folder)
 RewriteCond %{REQUEST_FILENAME} !-d
# Allow files (in public folder)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]