<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#222222">
    <meta name="author" content="Bjoern Pfoster">
    <meta name="description" content="A proper Contactform :D">
    <meta name="keywords" content="Contact, contactform, d4rkmidnz">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <base href="***REMOVED******REMOVED*** base ***REMOVED******REMOVED***">
    <link rel="canonical" href="***REMOVED******REMOVED*** base ***REMOVED******REMOVED***"/>
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">

    <script type="application/javascript" src="js/jquery.min.js"/>
    <script type="application/javascript" src="js/bootstrap.min.js"/>
    <script type="application/javascript" src="js/bootstrap.bundle.min.js"/>
    <script type="application/javascript" src="js/script.js"/>

    <title>***REMOVED******REMOVED*** page ***REMOVED******REMOVED***</title>
    ***REMOVED***% block assets %***REMOVED******REMOVED***% endblock %***REMOVED***
</head>
<body>
<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>
<div class="container">
    ***REMOVED***% block content %***REMOVED******REMOVED***% endblock %***REMOVED***
</div>
</body>
</html>