***REMOVED***% extends 'layout.twig' %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <h1>***REMOVED******REMOVED*** __('Users') ***REMOVED******REMOVED***</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">***REMOVED******REMOVED*** __('Firstname') ***REMOVED******REMOVED***</th>
            <th scope="col">***REMOVED******REMOVED*** __('Lastname') ***REMOVED******REMOVED***</th>
            <th scope="col">***REMOVED******REMOVED*** __('Username') ***REMOVED******REMOVED***</th>
        </tr>
        </thead>
        <tbody id="target"></tbody>
    </table>
    <script type="text/html" id="user-list">
        ***REMOVED******REMOVED*** source('User/user.mustache') ***REMOVED******REMOVED***
    </script>
***REMOVED***% endblock %***REMOVED***